/* Import the VCR_OSD_MONO font */
@font-face {
    font-family: 'VCR_OSD_MONO';
    src: url('VCR_OSD_MONO_1.001.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.container {
    text-align: center;
    position: relative;
    z-index: 10;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin-bottom: 20px;
    animation: fadeIn 2s;
}

.name {
    font-size: 2em;
    margin-bottom: 20px;
    animation: fadeIn 2s;
}

.description {
    font-size: 1.5em;
    height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid orange;
    animation: blink-caret .75s step-end infinite;
}

.discord-icon {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    transition: transform 0.3s;
}

.discord-icon:hover {
    transform: scale(1.2);
}

.media-player {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    width: 400px; /* Adjusted width for better fit */
}

.cover-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 15px;
}

.media-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#pause-play-button {
    font-family: 'VCR_OSD_MONO', sans-serif;
    font-size: 24px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

.song-info {
    color: #ffffff;
}

.song-title {
    font-size: 16px;
    margin: 0;
}

.song-artists {
    font-size: 14px;
    margin: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}
