@font-face {
    font-family: 'VCR_OSD_MONO';
    src: url('fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.container {
    text-align: center;
    position: relative;
    z-index: 10;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin-bottom: 20px;
    animation: fadeIn 2s;
}

.name {
    font-size: 2em;
    margin-bottom: 20px;
    animation: fadeIn 2s;
}

.description {
    font-size: 1.5em;
    height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid orange;
    animation: blink-caret .75s step-end infinite;
}

.discord-icon {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    transition: transform 0.3s;
}

.discord-icon:hover {
    transform: scale(1.2);
}

.music-player {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid white;
    background-color: transparent;
    font-family: 'VCR_OSD_MONO', sans-serif;
    margin-top: 30px;
}

.album-cover {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border: 2px solid white;
}

.track-info {
    flex-grow: 1;
    color: white;
}

.track-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.track-artists {
    font-size: 12px;
    color: #cccccc;
}

.pause-play-button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

.pause-play-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}

.trail {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    pointer-events: none;
    animation: trail 0.5s linear infinite;
}

@keyframes trail {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.5);
    }
}
